.nuc-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bolder;
  opacity: 0;

  .time-display {
    display: flex;
    gap: .5em;
  
    .time {
      padding: .5em;
      border-radius: .25em;
      min-width: 2.5em;
      text-align: center;
      text-transform: uppercase;
      font-family: $font-inter-sans-serif;

      @extend %shiny;
    }
  }
  
  .finished {
    font-size: 1.5em;
  }
}
